body {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  padding: 20px;
  transition:all 0.3s ease;
}

.images {
  margin: 50px;
}

section {
  margin: 20px;
  padding: 40px;
}

.grow:hover {
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5);
}

button {
  padding: 10px;
  margin-top: 50px;
}
